<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>이미지 태깅</title>
</head>
<body>
  <h2>기준 인물 입력</h2>
  <form action="/analyze_all" method="POST">
    <input type="text" name="target_urls" placeholder="타겟 이미지 URL"><br>
    <input type="text" name="target_names" placeholder="이름"><br><br>

    <input type="text" name="target_urls" placeholder="타겟 이미지 URL"><br>
    <input type="text" name="target_names" placeholder="이름"><br><br>

    <h2>분석할 소스 이미지 URL</h2>
    <input type="text" name="source_urls" placeholder="소스 이미지 URL"><br>
    <input type="text" name="source_urls" placeholder="소스 이미지 URL"><br><br>

    <button type="submit">분석 시작</button>
  </form>
</body>
</html>
